<!DOCTYPE html>
<html>
<head>
    <style>
        #nav {
            display: flex;
            justify-content: center;
            background-color:midnightblue;
        }

        .li {
            font-size: medium;
            /*color: white !important;*/
        }

    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div style="background-color:midnightblue">
                <br />
            </div>
            <div class="navbar-header col-lg-12" style="padding:20px; background-color:white">
                <img class="center-block" src="~/Images/logo-hotel.jpg" alt="Hotel Dream" width=300 height=60>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
                    <li>@Html.ActionLink("Sobre a Dream", "Index", "Sobre")</li>
                    <li>@Html.ActionLink("Reservar", "Index", "Reservar")</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding-top:150px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hotel Dream</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
