<!DOCTYPE html>
<html>
<head>
    <style>
        #nav {
            display: flex;
            justify-content: center;
            background-color: midnightblue;
        }

        .li {
            font-size: medium;
            padding-right: 70px;
        }

        #imageLogin {
            float: right;
            padding-right: 10px;
            width: 45px;
            height: 30px;
        }

        #imageLogo {
            width: 400px;
            height: 75px;
            
        }

        #spanEntrar {
            font-size: 14px;
            float: right;
            padding-top:5px;
        }
        #spanEntrar:hover {
            cursor: pointer;
            font-size: 16px;         
        }

    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="col-lg-12" style="background-color: midnightblue; padding-bottom:15px">
            
        </div>
        <div class="navbar-header col-lg-12" style="padding:20px; background-color:white">
            @if (Session["Autorizado"] != null)
            {
                <span id="spanEntrar" class="center-block"><u>@Html.ActionLink(Session["Autorizado"].ToString(), "Login", "Hospede")</u></span>
            }
            else
            {
                <span id="spanEntrar" class="center-block"><u>@Html.ActionLink("Entrar ou Cadastre-se", "Login", "Hospede")</u></span>
            }
            <img id="imageLogin" src="~/Images/login.png">
            <div class="col-lg-12"><img class="center-block" id="imageLogo" src="~/Images/logo-hotel.jpg" alt="Hotel Dream"></div>
        </div>
        <div>
            <div class=" collapse col-lg-12 " id="nav">
                <ul class="nav navbar-nav">
                    <li class="li">@Html.ActionLink("Inicio", "Index", "Inicio")</li>
                    <li class="li">@Html.ActionLink("Sobre a Dream", "Index", "Sobre")</li>
                    <li style="font-size: medium;">@Html.ActionLink("Reservar", "Index", "Reservar")</li>
                    <li style="font-size: medium;">@Html.ActionLink("Detalhes Quarto", "detalhedopedido1", "Reservar")</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding-top:150px">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-lg-12" style="background-color: midnightblue; padding:20px">
                <div class="col-lg-4" style="float: right; border-left: solid; border-color: white; height:115px;" >
                    <h4 style="text-align: center; color: white; padding-bottom: 5px">REDES SOCIAIS</h4>
                    <div class="col-lg-12" style="align-content:center; align-items:center">
                        <img src="~/Images/insta.png" width="30" height="30">
                        <span style="color: white; padding-left: 2px; padding-right:50px"><a style="color:white" href="https://www.instagram.com">Intagram</a></span>

                        <img src="~/Images/face.png" width="30" height="30">
                        <span style="color: white; padding-left: 2px; padding-right:50px"><a style="color:white" href="https://www.facebook.com">Facebook</a></span>

                        <img src="~/Images/pin.png" width="30" height="30">
                        <span style="color: white; padding-left: 2px; padding-right:50px"><a style="color:white" href="https://br.pinterest.com">Pinterest</a></span>

                        <img src="~/Images/zap.png" width="30" height="30">
                        <span style="color: white; padding-left: 2px;"><a style="color:white" href="https://web.whatsapp.com">WhatsApp</a></span>
                    </div>
                </div>
                <div class="col-lg-4" style="float: right; border-left: solid; border-color: white;">
                    <h4 style="text-align: center; color: white; padding-bottom: 5px">CONTATO</h4>
                    <div class="col-lg-12">
                        <p style="text-align: center; color: white; padding-bottom: 5px"> (11) 985482154</p>
                        <p style="text-align: center; color: white; padding-bottom: 5px">contato@hoteldream.com.br</p>
                    </div>
                </div>
                <div class="col-lg-4" style="float: right;">
                    <h4 style="text-align: center; color: white; padding-bottom: 5px">SOBRE</h4>
                    <div class="col-lg-12">
                        <p style="text-align: center; color: white; padding-bottom: 5px">Privacidade</p>
                        <p style="text-align: center; color: white; padding-bottom: 5px">Termos e Condições de Uso</p>
                    </div>
                </div>
            </div>          
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
